.foot-head{
    color:#B9B7BD ;
    margin-top: 0.5rem;
    margin-bottom: 1rem !important;
}
.uni-color{
    background-color: #000000 !important;
}
.footcol{
    color: aliceblue;
}
.footinput{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
    border-radius: 10px;
}
.fotbtn{
    margin-top: 1rem !important;
}
